@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&display=swap');
@import "variables";
@import "functions";


html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  width:90%;
  margin: 0 auto;
  height: 100vh;
  padding-left: 5%;
}

.logo{
  width: vw(242);
}

.cursor-pointer{
  cursor: pointer;
}
.error-page-wrapper{
  margin: 0 auto;
}
.error-page{
  text-align: center;
  font-family: $font-family;
  font-weight: 500;
  color: $font-color-white;
}
.circle{
  width: 90px;
  height: 90px;
  border-radius: 40px;
  background-color: red;
}
.button-outlined{
  background-color: transparent;
  border: 2px solid #FFE0A0;
  border-radius: 17px;
  font-family: $font-family;
  font-style: normal;
  font-weight: 300;
  font-size: vw(48);
  color: #E5E5E5;
  padding: 0 80px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 348px) {
  $baseV:348;
  .circle{
    background-color: orange;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  $baseV:600;
  .circle{
    background-color: green;
  }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  $baseV:768;
  .circle{
    background-color: yellow;
  }

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  $baseV:992;

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  $baseV:1200;
}