@import "variables";
@import "mixins";
@import "functions";


.header{
  &__link{
    color: $font-color-white;
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: vw(24);
    line-height: vw(37);
    opacity: 0.7;
    cursor: pointer;
    display: inline-block;
      &:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: $font-color-gold;
      transition: width .3s;

    }
    &:hover:after {
      width: 100%;
      //transition: width .3s;
    }
  }
}