@import "variables";
@import "mixins";
@import "functions";

.home{
  &__title{
    font-style: normal;
    font-size: vw(24);
  }
  &__colorItem{
    width: 90px;
    height: 90px;
    border-radius: 35px;
    background-color: red;
  }
  &__title{
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: vw(64);
    line-height: vw(77);
    color: #E5E5E5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__item{
    width: vw(351);
    height: vw(351);
    border-radius: 110px;
    box-shadow: 5px 5px 5px 0px #00000059;
    background-color: firebrick;
  }
}